<%- include('partials/header-auth') %>

<hr>
<div class="p-5 text-center bg-image" style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 20%;
    ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Our Team Of Doctors</h1>
        
          <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
        </div>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-lg-3" style="margin: auto;">
    <div style="margin: 50px 0 ;">
      <div class="card" style="width: 18rem;">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Dr. A</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, modi omnis quia, autem nisi beatae vitae odio ipsa sequi eligendi, laudantium nihil explicabo voluptates! Vel esse libero veniam maxime consequatur!
          </p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      </div>
  </div><div class="col-lg-3" style="margin: auto;">
    <div style="margin: 50px 0 ;">
      <div class="card" style="width: 18rem;">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Dr. C</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, modi omnis quia, autem nisi beatae vitae odio ipsa sequi eligendi, laudantium nihil explicabo voluptates! Vel esse libero veniam maxime consequatur!
          </p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      </div>
  </div><div class="col-lg-3" style="margin: auto;">
    <div style="margin: 50px 0 ;">
      <div class="card" style="width: 18rem;">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Dr. B</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, modi omnis quia, autem nisi beatae vitae odio ipsa sequi eligendi, laudantium nihil explicabo voluptates! Vel esse libero veniam maxime consequatur!
          </p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      </div>
  </div>
</div>


<%- include('partials/footer-auth') %>


